name: Pull request review is requested
on:
  pull_request_review:
 # pull_request:
  #  types: [ opened, reopened, synchronize ]
jobs:
  check:
    name: Checking required reviews
    runs-on: self-hosted  
    steps:
      - name: auto action
        uses: Automattic/action-required-review@v3
        with:
          token: ${{secrets.YASHTOKEN}}
          requirements: |
           - name: Everything else
             paths: unmatched
             teams:
              - leads
          status: Atleast a review required from team leads
          fail: true
          
      - name: Fetch API Data for github
        run: |
            curl --request GET 'https://api.github.com/orgs/yash95751/teams/leads/members' --header 'Accept: application/vnd.github+json' --header 'Authorization: Bearer ${{secrets.YASHTOKEN}}'
